/* Global reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global background + remove rogue spacing */
html, body, #root {
  height: 100%;
  width: 100%;
  background-color: #f8f5f2 !important; /* Pearl white */
  overflow-x: hidden;
}

/* Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;
